<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WhichGo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WhichGoLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E5E25A351A3C1CB0002BE498</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5E25A4A1A3C1CB1002BE498</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5FBA6CB1A3C6E1D001DA1C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5FBA6D51A3C6E1D001DA1C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
